In [1]:
import geopandas as gpd
import numpy as np

In [2]:
gdf = gpd.read_file('lotes.geojson')

In [3]:
gdf.dropna(inplace=True)
gdf['viacod'] = gdf['viacod'].astype(int)
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 52687 entries, 0 to 53163
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   nomevia   52687 non-null  object
 1   numero    52687 non-null  float64
 2   viacod    52687 non-null  int64
 3   inscrlig  52687 non-null  object
 4   geometry  52687 non-null  geometry
dtypes: float64(1), geometry(1), int64(1), object(2)
memory usage: 2.4+ MB

In [4]:
gdf.head()

,nomevia,numero,viacod,inscrlig,geometry
0,R.Ver.Hor�cio Ramos Gonzaga,840.0,1099,2031140010,"MULTIPOLYGON (((-48.70550 -26.88080, -48.70560..."
1,R.Ab�lio Corr�a Mello,482.0,1104,2031930673,"MULTIPOLYGON (((-48.70300 -26.88370, -48.70300..."
2,R.Ab�lio Corr�a Mello,378.0,1104,2031930565,"MULTIPOLYGON (((-48.70310 -26.88470, -48.70310..."
3,R.Ot�lio Dals�quio,308.0,1281,2030640450,"MULTIPOLYGON (((-48.72310 -26.88050, -48.72310..."
4,R.Ot�lio Dals�quio,184.0,1281,2030640360,"MULTIPOLYGON (((-48.72310 -26.87930, -48.72310..."

In [5]:
lotespvia = gdf[['viacod', 'inscrlig', 'numero']].groupby('viacod')
lotespvia.head()

       viacod    inscrlig  numero
0        1099  2031140010   840.0
1        1104  2031930673   482.0
2        1104  2031930565   378.0
3        1281  2030640450   308.0
4        1281  2030640360   184.0
...       ...         ...     ...
52580     784  2140760033    95.0
52582     803  2140760200    32.0
52585     803  2140760192    60.0
52886     363  2010470190    30.0
53114     177  2020510190    40.0

[6690 rows x 3 columns]

In [6]:
for group_name, df_group in lotespvia:
    df_group.to_json(
        f'lotesporvia/{group_name}.json', orient='records')

In [7]:
gdf['setor'] = gdf['inscrlig'].str[:3]